body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  font-size: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

header #white {
  font-size: 1.5rem;
  color: #f4f4f4;
  margin-right: 10px;
}

header #purple {
  font-size: 1.5rem;
  color: purple;
}

header nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header .logo img {
  height: 101px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding: 0;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a:hover {
  color: #a947ff;
  transition: color 0.3s;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.scroll-container {
  text-align: center; /* Center the link horizontally */
  margin-left:10rem; /* Add some spacing around the container */
}

/* Link styling */
.scroll-container .get-app {
  display: inline-block;
  background-color: transparent;
  border: 1px white solid;
  animation: border-gradient 4s infinite;
  white-space: nowrap;
  border-radius: 10px;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  color: #f4f4f4;
  text-decoration: none; /* Remove underline from the link */
}

.get-app:hover {
  transform: scale(1.05);
}

header .get-app {
  background-color: transparent;
  border: 1px white solid ;
  animation: border-gradient 4s infinite;
  white-space: nowrap;
  border-radius: 10px;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 100px;
  color: #f4f4f4;
}

@keyframes border-gradient {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: #3d3d3d;
  }
  100% {
    border-color: #fff;
  }
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.video-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catchy-phrase {
  position: relative;
  padding: 17rem;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.catchy-phrase h1 {
  color: #4d1717;
  font-size: 2.5rem;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  z-index: 1;
}

article {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 1rem;
  transition: transform 0.3s;
}

article:hover {
  transform: translateY(-10px);
}

article h2 {
  font-size: 1.5rem;
  color: #333;
}

article p {
  font-size: 1rem;
  color: #666;
}

.counter {
  margin-top: 300px;
  margin-bottom: 100px;
  background-color: #000000;
  padding: 50px 0;
  text-align: center;
}

.counter h1 {
  font-size: 42px;
  font-weight: 50;
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 20px;
  color: #f4f4f4;
}

.counter #inner_about {
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #bfb4b4;
  margin-top: 38px;
  margin-bottom: 70px;
}

.counter #inner_about::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ccc;
  margin: 20px auto;
}

.metrics {
  display: flex;
  justify-content: center;
  gap: 13rem;
  padding: 4rem;
}

.metric-card p {
  font-size: 4rem; /* Adjust to fit with the numeric value */
  color: purple;   /* Match the color of the number */
  white-space: nowrap;
  display: inline; /* Ensure it stays on the same line as the number */
  margin-left: 5px; /* Optional: Add space between the number and the text */
  font-weight: bold;
}

.metric-card {
  background-color: #000000; /* Set background color to black */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  position: relative;
}

.metric-card.show {
  opacity: 1;
  transform: translateY(0);
}

.metric-card h3 {
  margin: 0;
  font-size: 1.1rem; /* Title font size */
  white-space: nowrap;
  color: #f4f4f4; /* White color for text */
  position: absolute;
  bottom: 5px; /* Position the title at the bottom */
  left: 50%;
  transform: translateX(-50%);
}

.metric-value {
  font-size: 4.5rem; /* Increase the font size for the count */
  font-weight: bold;
  color: purple; /* Change the color if needed */
  margin-bottom: 2rem; /* Increase space between number and text */
}

.previous-clients {
  background-color: #000000;
  padding: 4rem 0;
  text-align: center;
  position: relative;
}

.previous-clients h2 {
  font-size: 2.5rem;
  color: #f4f4f4;
  margin-bottom: 7rem;
}

.client-cards {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrollbar */
  flex-wrap: nowrap; /* Prevents wrapping of cards */
  gap: 5rem;
  padding: 1rem;
  margin: 0 20%;
  max-width: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  position: relative;
}

.client-cards::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer versions of Edge */
}

.client-card {
  display: flex;
  background-color: rgba(155, 60, 244, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-top: 0.6rem;
  padding-left: 1rem;
  padding-bottom: 1.7rem;
  transition: transform 0.3s;
  flex: 0 0  auto; /* Prevents cards from shrinking */
  width: 340px; /* Adjust width as needed */
  height: 100px;
  box-sizing: border-box;
  opacity: 1;
}

.client-card.blur-in,
.client-card.blur-out {
  opacity: 0.5; /* Reduce opacity for the blur effect */
}

.client-card.blur-in {
  filter: blur(4px); /* Apply a blur effect */
}

.client-card.blur-out {
  filter: blur(4px); /* Apply a blur effect */
}

.client-card:hover {
  transform: translateY(-10px);
}

.client-photo img {
  width: 100%;
  height: 120%;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 50%;
  margin: 10%;
  }

.client-card h3 {
  font-size: 1.4rem;
  color: #f4f4f4;
  margin-left: 15%;
  margin-top: 10%;
}

.content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem; /* Adjust the gap between buttons */
  margin: 7rem 0; /* Adjust margin as needed */
}

.content-button {
  background-color: transparent;
  border: 1px solid white;
  animation: border-gradient 3s infinite;
  height: 1.5rem;
  width: 15rem;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  padding-top: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  color: #f4f4f4;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content-button a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.content-button:hover {
  transform: scale(1.05);
}

.short-form {
  background-color: rgb(98, 179, 186);
  color: #fff;
  border-color: rgb(255, 255, 255);
}

.long-form {
  background-color: transparent;
  color: #f4f4f4;
}

/* Active state: buttons change color when clicked */
.content-button.active {
  background-color: rgb(81, 153, 166);
  color: #fff;
  border-color: rgb(255, 243, 255);
}

.content-button.inactive {
  background-color: transparent;
  color: #f4f4f4;
  border-color: #f4f4f4;
}

/* Base Styles */
.content-section {
  display: none; /* Hide all sections by default */
}

.content-section.active {
  display: block; /* Show the active section */
}


/* Short Form Content Styles */

.content-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-section {
  max-width: 1500px; /* Adjust max-width as needed */
  margin: 20px 0;
}


.statement h1 {
  font-size: 1.8rem; /* Adjust size as needed */
  color: #f8f8f8;
  text-align: center;
  display: inline;
  line-height: 37px;
  animation: pop-in 0.5s ease-out forwards;
}

.statement #purple {
  color: #b473ed;
}

.statement h3 {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 5rem;
  margin-top: 3rem;
  text-align: center;
  animation: color-gradient 3s infinite ;
  animation: pop-in 0.7s ease-out forwards;
}

/* Long Form Content Styles */

.book-call-big {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #f4f4f4;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 4rem;
  animation: pop-in 0.5s ease-out forwards;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book-call-big:hover {
  background-color: #eee3f1;
  color: #000;
}

/* Style for the embedded video inside each small card */
/* Style for the embedded video inside each small card */
.reel {
  width: 100%; /* Full width of the small card */
  height: 100%; /* Full height of the small card */
  border: none; /* Remove iframe border */
  border-radius: 20px; /* Rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width and height */
}

/* Big Card Styles */
.big-card {
  width: 60rem; /* Fixed width for the card */
  /* Dark background color */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); /* Shadow for depth */
  padding: 1rem 1rem; /* Padding inside the card */
  margin-bottom: 8rem; /* Space below the card */
  background-image: url('photos/cardbg.jpg');
  box-sizing: border-box; /* Include padding and border in width and height */
}

/* Big Card Header Styles */
.big-card-header h2 {
  font-size: 2.5rem; /* Font size for the title */
  color: #ffffff; /* White text color */
  z-index: 1;
  position: relative;
  margin-bottom: 0.5rem; /* Space below the title */
}

.big-card-header h2::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Slightly larger than the text */
  height: 320%; /* Slightly larger than the text */
  background: linear-gradient(45deg, #130413, #8e43a7, #131113); /* Neon gradient */
  filter: blur(69px); /* Blur to create the glow effect */
  z-index: -1; /* Position behind the text */
  border-radius: 75px; /* Rounded corners for a smoother glow */
  opacity: 0.45; /* Slightly transparent to show background */
}

.big-card-header h3 {
  font-size: 1.2rem; /* Font size for the subheading */
  color: #ffffff; /* White text color */
  margin-bottom: 3rem; /* Space below the subheading */
}

/* Big Card Content Styles */
.big-card-content {
  display: flex; /* Use flexbox layout */
  gap: 2.5rem; /* Gap between small cards */
  justify-content: center; /* Center small cards horizontally */
}

/* Small Card Styles */
.small-card {
  background-color: rgba(222, 214, 214, 0.1); /* Slightly visible background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  height: 500px; /* Fixed height for the small card */
  width: 500px; /* Fixed width for the small card */
  padding: 7px; /* Padding inside the small card */
  color: hsl(0, 0%, 76%); /* Light text color */
  z-index: 1;
  box-sizing: border-box; /* Include padding and border in width and height */
}


@keyframes border-gradient {
  0% {
      border-color: #fff;
  }
  50% {
      border-color: #3d3d3d;
  }
  100% {
      border-color: #fff;
  }
}

@keyframes color-gradient {
  0% {
      color: #ffffff;
  }
  50% {
      color: #b473ed;
  }
  100% {
      color: #ffffff;
  }
}

@keyframes pop-in {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

#content_buttons{
  border: 0; /* Remove default border */
  height: 1px; /* Set height to control thickness */
  background-color: #333; /* Set background color for the line */
  width: 30%; /* Custom width */
  margin: 140px auto; /* Center the line and add space */
}

#review {
  border: 0; /* Remove default border */
  height: 100px; /* Set height to control thickness */
  background-color: #000000; /* Set background color for the line */
  width: 0.1%; /* Custom width */
  margin: 140px auto; /* Center the line and add space */
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #000000;
}

#testimonial {
  color: #8e43a7;
  margin-bottom: 0.2rem;
}

#client-say {
  color: #cbcaca;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.review-card {
  width: 60rem; /* Fixed width for the card */
  background-color: #201f1f; /* Dark background color */
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  padding: 1rem 1rem; /* Padding inside the card */
  margin-bottom: 8rem; /* Space below the card */
  box-sizing: border-box; /* Include padding and border in width and height */
  display: flex;
  flex-direction: row;
  background-image: url('photos/cardbg.jpg'); /* Background image */  align-items: center; /* White text color for contrast */
}

.review-video {
  flex: 1;
  margin-right: 55px;
  height: 400px;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 15%;
}

.review-content {
  flex: 2;
}

.review-content h1 {
  font-size: 28px;
  color: #fff; /* White color for the text */
  margin-bottom: 10px;
}

.review-content h4 {
  margin-left: 10px;
  color:#b473ed /* Lighter gray for secondary text */
}

.review-content h5 {
  margin-left:14px;
  color: #ddd; /* Lighter gray for secondary text */
}

.booking-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #000000; /* Light background color for contrast */
}

.booking-content {
  text-align: center; /* Center text inside the content div */
  width:100%;
  max-width: 100%; /* Max width to ensure responsiveness */
  box-sizing: border-box; /* Include padding and border in the width */
}

.booking-heading {
  font-size: 2.5rem; /* Font size for the heading */
  color: #f7f1f1; /* Dark text color */
  position: relative;
  display: inline-block;
}

.booking-subheading {
  font-size: 1.25rem; /* Font size for the subheading */
  color: #9c9999; /* Lighter text color */
  margin-bottom: 2rem; /* Space below the subheading */
}

.calendly-inline-widget {
  width: 100%; /* Full width */
  height: 100vh; /* Height to fit well without scroll */
  border: 0; /* Remove default border if any */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 14rem;
}

nav .scroll-container {
  margin-left: auto;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  header, nav ul {
      flex-direction: column;
  }

  nav ul {
      margin-top: 1rem;
  }

  nav ul li {
      margin-left: 0;
      margin-bottom: 1rem;
  }

  .catchy-phrase h1 {
      font-size: 1.5rem;
  }

  .articles article {
      margin-bottom: 1rem;
  }

  .client-cards {
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  header, nav ul {
      flex-direction: column;
      padding: 0.5rem;
  }

  nav ul {
      margin-top: 0.5rem;
  }

  nav ul li {
      margin-left: 0;
      margin-bottom: 0.5rem;
  }

  .catchy-phrase h1 {
      font-size: 1.2rem;
      padding: 0.5rem;
      text-align: center;
  }

  .articles article {
      margin-bottom: 0.5rem;
      padding: 0.5rem;
  }

  .client-cards {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      padding: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .client-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 1rem;
  }

  .articles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }
}

/* Larger screens */
@media (min-width: 1201px) {
  .client-cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      padding: 1.5rem;
  }

  .articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
  }
}

footer {
  background-color: #000000; /* Footer background color */
  color: #fff; /* Text color */
  padding: 1rem;
  text-align: center; /* Center align text and icons */
}

.footer-content h2 {
  font-size: 2rem;
  margin-bottom: 3rem; /* Space below heading */
}

.social-icons {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  gap: 1rem; /* Space between icons */
}

.social-icons a {
  display: inline-block;
}

.social-icons svg {
  width: 34px; /* Size of the icons */
  height: 25px;
  margin-bottom: 9rem;
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.social-icons a:hover svg {
  opacity: 0.5; /* Slightly fade the icon on hover */
}

footer {
  background-color: #000000; /* Dark background color */
  color: #cbcaca; /* Light text color */
  text-align: center; /* Center align text */
  padding: 1rem; /* Padding around the footer */
  position: relative; /* Make sure the footer does not overlap with content */
  bottom: 0; /* Position at the bottom of the page */
  width: 100%; /* Full width */
  height: 100px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Shadow for a subtle effect */
}

/* Footer Text Styles */
footer p {
  margin: 0; /* Remove default margin */
  font-size: 1.1rem; /* Slightly smaller font size */
}
